@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #0e1117;
}

body.active {
  overflow: hidden;
}

body.active .sidebar {
  display: block;
  background-color: rgba(0, 0, 0, 0.6);
}

.modal.active {
  display: flex;
  background-color: rgba(0, 0, 0, 0.6);
}

.modal {
  transition: all 300ms ease-in-out;
  width: 100%;
  height: calc(100vh - 100px);
  position: absolute;
  top: 100px;
  display: none;
  align-items: center;
  justify-content: center;
}

.modal-close {
  position: absolute;
  top: 0;
  right: 15px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.modal-close i {
  cursor: pointer;
}

.modal-body {
  width: 400px;
  height: 400px;
  padding: 25px;
  background-color: #181a21;
  position: relative;
}

.modal-body p {
  color: white;
}

.sidebar {
  display: none;
  transition: all 300ms ease-in-out;
  width: 100%;
  height: calc(100vh - 100px);
  position: absolute;
  top: 100px;
  pointer-events: all;
}

.sidebar .nav-button {
  width: 100%;
}

.sidebar ul {
  background-color: #181a21;
  height: 100%;
  width: min-content;
  width: 40%;
  display: flex;
  flex-direction: column;
}

.sidebar ul li {
  list-style-type: none;
  padding-top: 30px;
  margin-inline: 30px;
}

.sidebar ul li a {
  text-decoration: none;
  color: white;
  transition: all 300ms ease-in-out;
}

.sidebar ul li a:hover {
  color: #5e2bff;
}

.container {
  margin: auto;
  height: 100%;
}

.nav {
  width: 100%;
  height: 100px;
  background-color: #181a21;
}

.nav-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

@media (max-width: 991px) {
  .nav ul {
    display: none !important;
  }

  .nav .logo {
    font-size: 16px;
  }

  .nav button {
    display: none;
  }

  .nav .menu {
    display: block !important;
  }
}

.nav .menu {
  display: none;
  cursor: pointer;
}

.nav .menu .bar {
  width: 35px;
  height: 2px;
  background-color: white;
  margin-top: 7px;
  transition: all 300ms ease-in-out;
  transform-origin: 5px 1px;
}

.nav .menu.active .bar:nth-child(1) {
  transform: rotate(45deg);
}
.nav .menu.active .bar:nth-child(2) {
  opacity: 0;
}
.nav .menu.active .bar:nth-child(3) {
  transform: rotate(-45deg);
}

.nav-button {
  padding: 12px 45px;
  border-radius: 20px;
  border: none;
  background-color: #5e2bff;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.nav .logo {
  color: white;
  font-weight: bold;
}

.nav ul {
  display: flex;
  gap: 30px;
}

.nav ul li {
  list-style: none;
}

.nav ul li a {
  transition: all 300ms ease-in-out;
  text-decoration: none;
  color: white;
}

.nav ul li a:hover {
  color: #5e2bff;
}

.card {
  width: 160px;
  height: 240px;
  cursor: pointer;

  display: flex;
  flex-direction: column;
}

.card-grid {
  margin-top: 30px;
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(6, 1fr);
  row-gap: 20px;
}

@media (max-width: 1440px) {
  .card-grid {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media (max-width: 991px) {
  .card-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 769px) {
  .card-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 561px) {
  .card-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}

.card .card__bg {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  width: 100%;
  height: 100%;
  background-image: url("../assets/card-bg.jpg");
  background-size: cover;
  background-position: center;
}

.card button {
  width: 100%;
  padding: 10px 0;
  color: white;
  font-weight: bold;
  border: none;
  background-color: #5e2bff;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
}

.banner-grid {
  margin-top: 30px;
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 20px;
}

@media (max-width: 1440px) {
  .banner-grid {
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  }
}

.banner {
  border-radius: 12px;
  height: 350px;
  padding: 1.25rem;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  background-color: #282a3e;
}

.banner-img {
  width: 100%;
  height: 6rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../assets/banner-bg.png");
  border-radius: 8px;
}

.banner-price {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-between; */
  gap: 1em;
}

.banner-price button {
  padding: 5px 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border: none;
  border-radius: 5px;
  background-color: #32354d;
  gap: 10px;
}

@media (max-width: 400px) {
  .banner-price button {
    padding: 5px 50px;
  }

  .banner-grid {
    display: block;
  }

  .banner {
    margin-top: 20px;
  }
}
.banner-price h2,
.banner-price p {
  color: rgba(255, 255, 255, 0.7);
}

.banner-button {
  padding: 10px 0;
  border: none;
  background-color: #5e2bff;
  color: white;
  font-weight: bold;
  font-size: 17px;
  border-radius: 8px;
}

.banner-info {
  margin: auto;
  color: white;
}

.banner-info span {
  color: #5e2bff;
  margin-right: 5px;
}

@media (max-width: 768px) {
  .container {
    width: 100%;
    padding: 0 25px;
  }
}

@media (min-width: 576px) {
  .container {
    width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 900px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1050px;
  }
}

@media (min-width: 1400px) {
  .container {
    width: 1100px;
  }
}

@media (min-width: 1920px) {
  .container {
    width: 1200px;
  }
}

footer {
  width: 100%;
  background-color: #181a21;
  margin-top: 30px;
  padding: 30px 0;
  color: white;

  display: flex;
  flex-direction: column;
  align-items: center;
}

footer ul {
  display: flex;
  flex-direction: column;
  gap: 15px;
  text-align: center;
}

footer .second-ul {
  margin-top: 30px;
}

footer ul li {
  list-style: none;
}

footer ul li a {
  color: white;
  text-decoration: none;
}

.footer-socials {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 30px;
}

.footer-socials-item {
  background-color: #5e2bff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 12px;
}

.footer-socials-item i {
  font-size: 30px;
}
